.auth-container {
  display: flex;
  height: 85vh;
  margin-top: 10px;
}

.auth-left {
  flex: 1;
  background-image: url("../images/coverpage.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.auth-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.auth-form {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 25px;
}

.auth-form-group {
  margin-bottom: 15px;
}

.auth-form-group label {
  display: block;
  margin-bottom: 4px;
}

.auth-form-group input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.auth-submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.auth-submit-btn:hover {
  background-color: #0056b3;
}

.auth-switch-text {
  text-align: center;
  margin-top: 15px;
}

.auth-switch-btn {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

.auth-switch-btn:hover {
  background-color: #007bff;
  color: white;
  padding: 10px;
  margin: 0px 10px;
  border-radius: 5px;
}

.auth-error-message {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}
