/* Footer Container */
.footer-container {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 10rem; /* Increased top margin */
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

/* Footer Content */
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content p {
    margin: 8px 0;
    font-size: 0.9em;
    line-height: 1.6;
}

/* Email link */
.footer-content a {
    color: #f8d210;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}
